venv_*/
*.pyc
__pycache__/
/*.pyc
*.pyc
*.pyo
*.pyd
*.pkl
*.keras

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
data/raw/archive.zip
data/raw/creditcard.csv
raw/archive.zip
raw/creditcard.csv

data/raw/SMD_data/
data/raw/SMD_data.zip
data/raw/creditcard/
data/raw/SMD_data_use/
models/checkpoint/
models/checkpoint_SMD/
artifacts/
report_thesis/
